.AppCarousel{
    margin-bottom: 20px;
    border-radius: 16px;
    z-index: 100;
}
.profileDisplayCarousel{
    box-shadow: none !important;
    margin: 0 !important;
    background-color: #f9fdff;
    z-index: 3 !important;
}
.profileDisplayCarousel .carouselItemAndModalContainer{
    max-width: 284px;
}
.profilePageSectionCarousel{
    box-shadow: none !important;
    margin: 0 !important;
}
.profilePageSectionCarousel .carouselItemAndModalContainer{
    max-width: 275px;
}
.carouselTitle{
    height: 80px;
    flex-shrink: 0;
    margin: 0 !important;
    text-indent: 10px;
    font-size: 2rem;
    color: rgb(212, 64, 212);
    font-weight: 700;
    align-items: center;    
}
.carouselItemsContainer{
    position: relative;
    height: 326px;
    padding: 20px 0 25px 0;
    flex-wrap: nowrap;
    overflow-y: scroll;
    scrollbar-width: 0;
    overflow-x: visible;
    scroll-behavior: smooth;
}
.carouselItemsContainer::-webkit-scrollbar{
    display: none;
}
.carouselItemAndModalContainer{
    height: 100%;
    width: calc(20% - 20px);
    margin-left: 20px;
    flex-shrink: 0;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.24), 0 0 0 2px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    background-color: rgb(235, 235, 255);
    transition: 0.2s ease-out;
}
.carouselItemAndModalContainer:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 10px 2px rgba(40, 40, 40, 0.18);
}
.carouselItemAndModalContainer:first-child{
    margin-left: 10px;
}
.carouselItemAndModalContainer:last-child{
    margin-right: 10px;
}
.profilePageItemAndModalContainer{
    width: calc(25% - 20px);
}
.carouselItem{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 16px 16px 16px 16px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.carouselItemBackground{
    z-index: 1;
}
.resourceType{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.resourceType img{
    border-radius: 50%;
    z-index: inherit;
}
.itemBookmark{
    position: absolute !important;
    top: 10px !important; 
    left: 10px !important;
    width: 2.6em;
    height: 2.6em;
    padding: 5px;
    border-radius: 50%;
    z-index: 2 !important;
    color: transparent;
    stroke-width: 1px;
    stroke: white;
    transition: 0.2s;
}
.itemBookmark path{
    transition: 0.2s;
}
.itemBookmark path:hover{
    fill: black;
}
.itemBookmarkTrue{
    fill: black;
}
.itemInformation{
    position: absolute !important;
    top: 50px !important; 
    left: 10px !important;
    width: 2.8em;
    height: 2.8em;
    padding: 2px;
    border-radius: 50%;
    z-index: 2 !important;
    color: black;
    transition: 0.2s;
}
.itemInformation:hover{
    background-color: rgba(4, 4, 5, 0.25);
}
.carouselItemOneMentorUsername{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}
.carouselItemOneMentorUsername img{
    border-radius: 50%;
}
.carouselItemOneMentorUsername p{
    margin: 0 0 7px 7px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px 0 0 0;
    background-color: rgba(4, 4, 5, 0.329);
    overflow: hidden;
    z-index: 1000;
    opacity: 0;
    transition: 0.5s ease;
}
@keyframes modalContainer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.modalContainerinActive{
    opacity: 1 !important;
}
.customModal{
    position: relative;
    width: 60%;
    height: 105%;
    padding-bottom: 100px !important;
    border-radius: 6px 6px 0 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 50px 1px rgb(43, 43, 43);
    overflow-y: scroll;
    scrollbar-width: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    z-index: 1001;
    opacity: 0;
    transform: translateY(80px);
    transition: 0.6s ease;
    user-select: none;
}
.customModalinActive{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.customModal::-webkit-scrollbar{
    display: none;
}
.customModal *{
    flex-shrink: 0;
}
.playerCover{
    position: absolute;
    width: 100%;
    height: 519px;
}
.modalProfile{
    position: absolute;
    top: 20px;
    left: 20px;
}
.modalProfile img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
.modalProfile p{
    margin: 15px 0 0 10px;
    font-size: 1.35rem;
    color: rgb(255, 255, 255);
}
.modalShadow{
    position: absolute;
    top: 412px;
    left: 0;
    width: 100%;
    height: 110px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    z-index: 1002;
    overflow: visible;
}
.moreLikeThisAndDescription{
    width: 100%;
    height: 400px;
    padding: 0 10px;
}
.resourceDescriptionContainer{
    height: 100%;
    flex-shrink: 1;
}
.resourceDescriptionContainer p{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.resourceDetailsContainer{
    width: 250px;
    height: 100%;
    margin-left: 20px;
}
.resourceDetails div{
    width: 100%;
}
.resourceDetails b{
    font-size: 1.1rem;
    margin-right: 5px;
    color: rgb(0, 0, 0);
}
.resourceDetails p{
    font-size: 0.9rem;
    color: rgb(26, 26, 26);
    margin: 0;
    line-height: 8px;
}
.moreLikeThis{
    min-height: 800px;
    align-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    overflow-y: hidden;
    scrollbar-width: 0;
    scroll-behavior: smooth;
}
.moreLikeThis::-webkit-scrollbar{
    display: none;
}
.moreLikeThisTitle{
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    height: 60px;
    font-size: 2rem;
    font-weight: 700;
}
.modalCardContainer{
    height: 321px;
    width: calc(34% - 20px);
    margin:0 0 20px 20px;
    flex-shrink: 0;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.24), 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 16px 16px 6px 6px;
}
.modalCardContainer:nth-child(3n - 4){
    margin-left: 0;
}
.modalCard{
    position: relative;
    height: 100%;
    width: 100%;
    flex-shrink: 1;
    border-radius: 16px 16px 0 0;
    transition: 0.2s ease-in;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}