.filmDisplayContainer{
    position: relative;
    width: 56em;
    height: 56em;
    /* margin-top: 100px; */
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 70px;
    overflow: hidden;
    z-index: 0;
    opacity: 0;
    transform: rotate(-60deg);
}

.filmDisplayContainer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(41, 41, 41);
}

.filmDisplayContainer::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 30px 10px rgba(15, 15, 15, 1);
    z-index: 2;
}

.filmDisplayAnimation{
    animation: rotate ease-out 1.3s forwards;
}

.box{
    position: relative;
    z-index: 1;
}

.filmBoxImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

@keyframes rotate {
    from{
        transform: rotate(-60deg);
        grid-gap: 70px;
        opacity: 0;
    }
    to{
        transform: rotate(0deg);
        grid-gap: 20px;
        opacity: 1;
    }
}