.sectionContainer{
    height: 900px;
    background-color: rgba(15, 15, 15, 1);
    z-index: 2;
}

.wrapper{
    max-width: 1550px;
}

.display{
    width: 57%;
}

.text{
    color: rgb(230, 230, 230);
    width: 43%;
}